<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
  <div class="content-center">
    <div class="container space-top">
      <div class="alert alert-danger text-left" role="alert" *ngIf="errors">
        <div class="container">
          <div class="alert-icon">
            <i class="now-ui-icons objects_support-17"></i>
          </div>
          <strong>Oh snap!</strong> Change a few things up and try submitting again.

          <ul>
            <li *ngFor="let error of errors">{{ error | capitalize }}</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card card-profile" *ngIf="user">
            <div class="card-block">
              <div class="card-avatar">
                <img class="img img-raised" src="../assets/img/mike.jpg">
              </div>

              <h5 class="card-title">Editing {{ user.name }}</h5>

              <form *ngIf="user" (submit)="editUser()">
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="user.name" name="name" placeholder="Name...">
                  <span class="input-group-addon">
                <i class="now-ui-icons users_single-02"></i>
              </span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email...">
                  <span class="input-group-addon">
                <i class="now-ui-icons ui-1_email-85"></i>
              </span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="user.type" name="type" placeholder="Client Type...">
                  <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
              </span>
                </div>
                <div class="input-group">
                  <div class="checkbox float-right">
                    <input id="admin" name="rank" type="checkbox" [(ngModel)]="user.admin">
                    <label for="admin">
                      Admin
                    </label>
                  </div>
                </div>

                <div class="input-group">
                  <button type="submit" class="btn btn-success">Edit User</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
