<div class="row">
  <div class="col-md-12">
    <h2 class="title text-center">Program Blocks</h2>

    <div class="training-block">
      <div class="card">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
              Block 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
              Block 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
              Block 3
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
              Block 4
            </a>
          </li>
        </ul>
        <div class="card-block">
          <!-- Tab panes -->
          <div class="tab-content text-center">
            <div class="tab-pane active" id="home" role="tabpanel">
              <div class="row">
                <div class="col-md-3">
                  <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist" aria-expanded="true">
                        Monday
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link5" role="tablist" aria-expanded="false">
                        Wednesday
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#link5" role="tablist" aria-expanded="false">
                        Friday
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-9">
                  <h4>Series A</h4>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card card-blog" data-background-color="black">
                        <div class="card-image">
                          <img class="img rounded" src="https://www.t-nation.com/system/publishing/articles/10004882/original/The-5-Bench-Press-Commandments.jpg?1496450000">
                        </div>
                        <div class="card-block">
                          <h6 class="category text-danger">
                            Series A
                          </h6>
                          <h5 class="card-title">
                            <a href="#nuk">Benchpress</a>
                          </h5>
                          <p class="card-description">

                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-blog" data-background-color="black">
                        <div class="card-image">
                          <img class="img rounded" src="https://www.t-nation.com/system/publishing/articles/10004882/original/The-5-Bench-Press-Commandments.jpg?1496450000">
                        </div>
                        <div class="card-block">
                          <h6 class="category text-danger">
                            Series A
                          </h6>
                          <h5 class="card-title">
                            <a href="#nuk">Benchpress</a>
                          </h5>
                          <p class="card-description">

                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-blog" data-background-color="black">
                        <div class="card-image">
                          <img class="img rounded" src="https://www.t-nation.com/system/publishing/articles/10004882/original/The-5-Bench-Press-Commandments.jpg?1496450000">
                        </div>
                        <div class="card-block">
                          <h6 class="category text-danger">
                            Series A
                          </h6>
                          <h5 class="card-title">
                            <a href="#nuk">Benchpress</a>
                          </h5>
                          <p class="card-description">

                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
